.container {
  width: 100%;
  height: 100%;
  perspective: 800px;
}

.test > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  /* height: 100%; */
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 8px 1px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}

.front {
  /* background-image: url(https://source.unsplash.com/random/350x500); */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  border: 1px solid rgba(50, 50, 50, 0.25);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
